h1{
    border-bottom: solid 4px #c71111;
    width: fit-content;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}
h2{
    margin-top: 1rem;
    line-height: 30px;
    padding-left: 10px;
    border-left: solid 6px #c71111;
    margin-bottom: 12px;
}

h3{
    margin-top: 1rem;
}