---


---

<html lang="ja">
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<ul>
            <li>あああ</li>
        </ul>
	</body>
</html>
<style lang="scss" scoped>
    body{
        background-color: aqua;
    }
</style>