---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const newsCollection = await getCollection("news");

// ニュースが存在するかどうか確認
const isNewsExist = Array.isArray(newsCollection) && newsCollection.length >= 1;

// ニュースを公開日の新しい順にソート
const news = isNewsExist
  ? newsCollection.sort((a, b) => (a.data.number > b.data.number ? -1 : 1)) 
  : [];

interface Props {
  title: string;
  description: string;
  pageType?: "website" | "article";
  image: string;
  imageAlt: string;
}
const head: Props = {
  title: "最新ニュース",
  description: "最新のニュースをお届け！",
  pageType: "article",
  image: "/path/to/image.jpg",
  imageAlt: "Sample Image Alt Text"
};

---
<Layout {...head}>
<h1>最新ニュース</h1>
    <ul>
        {news.length >= 1 ? (
        news.map((newsEntry) => (
            <li class="news__contents">
            <a href={`/news/${newsEntry.slug}`}>{newsEntry.data.title}</a>
            <div class="news__description">
              <p>{new Date(newsEntry.data.publishedDate).toLocaleDateString()}</p>
              <p>著者: {newsEntry.data.author}</p>
              <p>ニュース番号：{newsEntry.data.number}</p>
            </div>
            </li>
        ))
        ) : (
        <p>ニュースはありません</p>
        )}
    </ul>
</Layout>

<style lang="scss" scoped>
h1{
  margin-bottom: 1rem;
}

.news{
  &__contents{
    margin: 1rem;
  }

  &__description{
    color: rgba($black, 0.8);
    display: flex;
    gap: 1rem;
  }
}

</style>